PORTALS_JSON='{"engagementhq":["https://ehq-site1.example.domain","https://ehq-site2.example.domain"],"citizenspace":["https://cs-site1.example.domain","https://cs-site2.example.domain"]}'
DB_PASSWORD='secret'
DB_NAME='harvest_consultations'
DB_TABLE='consultations'

# For direct Docker/local MySQL runs. k8s/local overrides DB_HOST=mariadb.
DB_HOST='mysql.harvest.svc.cluster.local'
DB_PORT='3306'
